:root{
    --background-color:#0c406e;
    --main-color:gold;
    --main-text:#fff;
    --backgrond:#0f4c5c;
}
body{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.navbar{
    background-color: var(--backgrond);
}
.navbar-nav .nav-link{
    color: var(--main-color);
}
.navbar .navbar-toggler{
 color: var(--main-color);
 box-shadow: none;
 border: 1px solid var(--main-text);
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    color: var(--main-text);
    border-bottom: 3px solid var(--main-color);
}
.logo{
    color: var(--main-color);
    font-size: 25px;
}
.landing{
    background: var(--background-color);
}
.landing img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--main-color);
    box-shadow: 25px 0px rgba(255, 255, 255, 0.178);
}
.landing .text-1{
    color: var(--main-color);
    
}
.landing p{
    font-size: 12px;
}
.landing .btn{
    color:var(--main-color);
    background-color: var(--main-text);
}
.cv{
    background: var(--backgrond);
    color: var(--main-text);
}
.cv h3{
    color: var(--main-color);
    font-weight: 800;


}
.cv h4{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 22px;

}
.work{
    background-color: var(--background-color);
}
.work .card{
    text-align: center;
    border-radius: 10px;
}
.work .card .btn{
    border-radius: 5px;
}
.work .card img{
    border-radius: 20px;
}
.skill{
    background: var(--backgrond);
}
.skill .progress{
    height: 25px;
}
.content{
    background: var(--background-color);
}
.content h3{
    color: var(--main-color);
}
.content img{
    width:100%;
}
.content .logo{
    border: 5px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 12px 0px rgba(255, 255, 255, 0.178);
}
.footer{
    background: var(--backgrond);
}
.footer img{
    width: 100px;
    border: 5px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 12px 0px rgba(255, 255, 255, 0.178);
}
.footer ul{
    list-style: none;
    
}
.footer ul li{
    padding-top: 20px;
}
.footer ul li a{
    color: var(--main-color);

}
.footer ul li a:hover{
    color: var(--main-text);
    border-bottom:3px solid var(--main-color) ;

}